:root {
  --primary-color: #ea7c69;
  --secondary-color: #9288e0;
  --text-dark: #3b5162;
  --text-light: #abbbc2;
  --text-lighter: #e0e6e9;
  --text-gray: #889898;

  --dark-line: #393c49;
  --dark-bg: #252836;
  --darker-bg: #1f1d2b;
  --form-bg: #2d303e;

  --green: #50d1aa;
  --red: #ff7ca3;
  --orange: #ffb572;
  --blue: #65b0f6;
  --purple: #9290fe;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
